<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">GoalTracker</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item" *ngIf="(isAuthenticated$ | async)">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/public">Public Goals</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <ng-container *ngIf="(isAuthenticated$ | async); else guestLinks">
        <li class="nav-item">
          <span class="navbar-text me-3">{{ userEmail }}</span>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
        </li>
      </ng-container>

      <ng-template #guestLinks>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
